$responsive-break-point: 1024px;

#app * {
    box-sizing: border-box;
}

#home {

  text:#fff;

  h2 {
    margin: 0;
    padding-top: 20%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color:#fff;
    background: transparent;
  }
}


#app {
     height:100%;
      width:100%;
      background: url(/img/clarity-bg-7.jpg) #000 no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#clarityApp #app .transparentHome {
    background:transparent;



}

#app a {
   outline: 0;
}

#app {
    display: -webkit-flex; display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    header {
        min-height: 52px;
        padding: 0;
        display: -webkit-flex; display: flex;
        background: transparent;
        border: 0;
        height: auto;
        .header__home-link {
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            font-size: 30px;
            font-family: sans-serif;
            text-transform: uppercase;
            width: 200px;
            padding: .5rem 0;
        }
        .teams-list {
            flex: 1;
            -webkit-flex: 1;
            display: -webkit-flex; display: flex;
            font-size: 16px;
            padding: 0;
            margin: 0;
            @media (max-width: $responsive-break-point) {
                font-size: 12px;
            }
            &__item {
                display: -webkit-flex; display: flex;
                text-align: center;
                a {
                    flex: 1;
                    -webkit-flex: 1;
                    display: -webkit-flex; display: flex;
                    color: #fff;
                    text-decoration: none;
                    align-items: center;
                    padding: 1rem 1.5rem;
                    &:hover {
                        background: RGBA(0,0,0,0.2);
                    }
                    &.active, &.active:hover {
                        background: #1f8dd6;
                    }
                }
            }
        }
    }
    #layout {
        flex: 4;
        display: -webkit-flex; display: flex;
        @media (max-width: $responsive-break-point) {
            flex-direction: column;
            -webkit-flex-direction: column;
        }

        /*
        The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
        appears on the left side of the page.
        */
        #menu {
            width: 200px;
            @media (max-width: $responsive-break-point) {
                width: auto;
            }
            z-index: 1000; /* so the menu or its navicon stays above all content */
            /* background: #191818; */
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            a {
                color: #fff;
                border: none;
                padding: 0.6em 0 0.6em 0.6em;
            }
            li {
                a {
                    border-left: 10px solid transparent;
                    &:hover {
                        border-left: 10px solid #1f8dd6;
                        background: transparent;
                    }
                    &.active {
                        border-left:10px solid #2bbb1c;
                        color: #fff;
                        background-color: rgba(0,0,0,0.5);                    }
                }
            }
            .pure-menu-heading {
                font-size: 110%;
                color: #fff;
                margin: 0;
            }
        }
        #main {
            flex: 1;
            -webkit-flex: 1;
            background: white;
            padding: 1rem;
        }
        h4 {
            font-size: 15px;
        }
    }
}
.team-project {
    &__header {
        display: -webkit-flex; display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        flex: auto;
        -webkit-flex: auto;
        h1 {
            font-size: 24px;
            font-weight: 100;
            padding: 0 1rem 0 0;
        }
    }
    &__main {
        display: -webkit-flex; display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        flex-wrap: nowrap;
    }
    &__prs {
        &--open {
            flex: 1;
            -webkit-flex: 1;
        }
    }
    &__release-stories {
        flex: 1;
        -webkit-flex: 1;
        margin: 0 .5rem;
    }
    &__latest-releases {
        background: #606060;
        flex: 1;
        -webkit-flex: 1;
        padding: 1rem;
        color: #d0d0d0;
        h2 {
            color: white;
            font-weight: 200;
            margin: 0;
        }
    }
    &__releases {

    }
}
.pull-request-list {
}
.pull-request {
    &__header {
        @media (max-width: $responsive-break-point) {
            flex-direction: column;
            -webkit-flex-direction: column;
        }
        padding: .5rem;
        background: #f0f0f0;
        display: -webkit-flex; display: flex;
        justify-content: center;
    }
    &__title {
        flex: auto;
        -webkit-flex: auto;
        font-weight: normal;
    }
    &__name {
        font-weight: bold;
    }
    &__links {
        text-align: right;
        a {
            font-weight: bold;
            color: rgb(34, 126, 170);
        }
    }
    a {
        text-decoration: none;
    }
    border: 4px solid #d0d0d0;
    border-width: 8px 0 4px 0;
    margin: 0 0 1.5rem 0;
    background: #d0d0d0;
}
.pull-request-branch {
    background-color: #354459;
    background-image: url('/img/bg-pull-request.png');
    background-repeat: no-repeat;
    background-position: 3px 5px;
    background-size: 20px;
    padding:0px 0px 0px 25px;
    &__main {
        background: RGBA(255,255,255,0.5);
        color: #f0f0f0;
        overflow: auto;
        z-index: 100;
        padding: .5rem;
    }

    a {
        color: navy;
        font-weight: bold;
        text-decoration: none;
        &:hover {
            color: RGBA(0,90,70,0.9);
        }
    }
    h3, h4, h5 {
        margin:5px 0 5px 0;
    }
    &__summary {
        font-size: 12px;
        &-details {
            p {
                margin: .25rem 0;
                strong {
                    color: #fff;
                }
            }
        }
    }
}
.story {
    &__main {
        background-color: RGBA(255,255,255,0.7);
        font-size: 13px;
        color: #333;
        p {
            padding: .5rem;
            margin: 0;
        }
    }
    &__header {

        @media (max-width: $responsive-break-point) {
            flex-direction: column;
            -webkit-flex-direction: column;
        }
        display: -webkit-flex; display: flex;
        background-color: RGBA(255,255,255,0.4);
        color: #303030;
        padding: .5rem;
        a {
            color: #3030aa;
            font-weight: bold;
            text-decoration: none;
        }
    }
    &__title {
        flex: auto;
        -webkit-flex: auto;
        font-size: 14px;
    }
    &__state {
        align-self: flex-end;
        width: 80px;
        font-size: 12px;
        text-align: right;
        font-weight: bold;
        color: RGBA(0,0,0,0.8);
    }
}
.team-menu {
    width: 200px;
    display: -webkit-flex; display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    @media (max-width: $responsive-break-point) {
        width: auto;
        flex-direction: row;
        -webkit-flex-direction: row;
        .menu {
            padding-right: 1rem;
        }
    }
}
.menu {
    ul {
    margin: 0 0 1rem 0;
    padding: 0;

    }
    &__title {
        font-weight: bold;
        color: white;
        background-color: RGBA(0,0,0,0.4);
        padding: 1rem;
    }
    &__item {
        display: block;
        margin: 0;
        font-size: 16px;
        a {
            display: block;
            padding: .5rem 1rem;
            color: white;
            text-decoration: none;
            border-left: 8px solid transparent;
            &.active {
                border-left: 8px solid #2bbb1c;
            }
            &:hover {
                background: RGBA(0,0,0,0.3);
            }
        }
    }
}
.aheadBehindBar {
  background: #ddd;
  width:100%;
  height:10px;
  .behind {
    background: #354458;
    float:left;
    width:50%;
    height:10px;

    .current {
      background: #f45353;
      height:10px;
      float:right;
    }
  }

  .ahead {
    background: #354458;
    float:right;
    height:10px;
    width:50%;

    .current {
      background: #6ef453;
      float: left;
      height:10px;
    }
  }
}
/* Master */
.master {
    background-color: #354459;
    background-image: url('/img/bg-master.png');
    background-repeat: no-repeat;
    background-position: 3px 5px;
    background-size: 20px;
    padding:0px 0px 0px 25px;
    margin-bottom: 5px;
    &__main {
        background: white;
        overflow: auto;
        z-index: 100;
        padding: 5px 10px 5px 10px;
        font-size: 14px;
    }
    h3, h4 ,h5 {
        margin: .5rem 0;
        color: black;
    }
    &__release-notes {
        background: white;
        margin: .5rem 0;
        padding: 1rem;
        color: black;
        a {
            color: #00c;
            text-decoration: none;
        }
    }
}

.content-subhead {
    font-weight: 300;
    color: #888;
}


/* Spinner Loader */
.meter {
    height: 20px;  /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;

    /* box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3); */
}

.meter > span {
  display: block;
  height: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  /* box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4); */
  position: relative;
  overflow: hidden;
}

.meter > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
